html,
body {
  font-family: Poppins, Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

main {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.card {
  width: 380px;
  border: 1px solid black;
  margin: 24px;
  padding: -24px;
}
