# Go build artifacts
/bin/
/obj/
/*.exe
/*.out
/*.test

# Dependency directories
/vendor/
/Gopkg.lock
/go.sum

# IDE and editor files
*.idea/
*.vscode/
*.swp
*.swo
*.DS_Store

# Environment variables
.env

# Templ and HTMX specific files (if any)
# Add any specific files or directories related to Templ or HTMX that should be ignored

# Logs
*.log

# Temporary files
*.tmp
*.temp